{% extends "base.html" %}

{% block title %}Opt-Out Links{% endblock %}

{% block content %}


<p class="lead">From export of
     <a href="https://www.oag.ca.gov/data-brokers">California Data Broker Registry</a>
</p>


<!--  OLD DATATABLE

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Status</th>
            <th>Action</th>
            <th>Company</th>
            <th>Email</th>
            <th>Company Site</th>
            <th>Address</th>
             <th>Sale OptOut</th>
            <th>Delete</th>
            <th>Extra Info</th>
        </tr>
    </thead>
    <tbody>

    {% for db in data_brokers %}
        <tr>
            <td>X</td>
            <td>Delete</td>
            <td>{{db.0}}</td>
            <td>{{db.1}}</td>
           <td><a href = "{{db.2}}">{{db.2}}</a></td>
            <td>{{db.3}}</td>

             <td>{{db.4}}</td>
             <td>{{db.5}}</td>
             <td>{{db.6}}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>

-->


<!--DJANGO-AJAX-DATATABLE-->


    <table id="table_id">
        <thead>
            <th>name</th>
            <th>site</th>
            <th>email</th>
            <th>opt_out_instructions</th>
        <th>delete_instructions</th>
        <th>other_instructions</th>
        <th>address</th>
        </thead>

        <tbody>
        </tbody>

    </table>


{% endblock %}



  {% block js %}

/*   OLD DATATABLE
$(document).ready( function () {
    $('#table_id').DataTable();
} );

*/

// DJANGO-AJAX-DATATABLE

$(document).ready(function() {
    var oTable = $('#table_id').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'myapp:order_list_json' %}"
    });
    // ...
});

 {% endblock %}